[Unit]
Description=buptnet_autologin
After=network.target

[Service]

Type=simple
ExecStart=/home/fxyang/Software/anaconda3/bin/python /home/fxyang/Software/buptCN_pythonScript/buptCN.py
ExecReload=/home/fxyang/Software/anaconda3/bin/python /home/fxyang/Software/buptCN_pythonScript/buptCN.py
RestartSec=3600

[Install]
WantedBy=multi-user.target
